/* ------------------- *\
Content
\* ------------------- */
/*
1. Layout
2. Title
3. Card Container
4. Card Component
        4-1 Card Layout
        4-2 Subtitle
        4-3 Content Container
        4-4 Image
        4-5 Description
5. Media Queries
        5-1 w640
        5-2 w1440
        5-3 w1920
*/

/* ------------------- *\
1. Layout;
\* ------------------- */
.service {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 469px;

    background-color: var(--secondary-color);
}
.service__layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 325.41px;
    height: 433.88px;
    padding: 8px 0;
}

/* ------------------- *\
2. Title;
\* ------------------- */
.service__title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 36.6px;
    margin-bottom: 5px;

    color: var(--primary-color);
    font-weight: 500;
}

/* ------------------- *\
3. Card Container;
\* ------------------- */
.service__cards {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px;

    width: 100%;
    height: 404.62px;
}
.service__card.service__card--mobile {
    display: block;
}
.service__card.service__card--desktop {
    display: none;
}

/* ------------------- *\
4. Card Component;
\* ------------------- */
/* 4-1 Card Layout */
.service__card {
    width: 100%;
    height: 129.8px;

    font-weight: 400;
}
.service__card:last-child {
    margin-bottom: 0px;
}

/* 4-2 Subtitle */
.service__subtitle {
    font-size: 12px;
    line-height: 18.1px;
    margin-bottom: 2px;

    color: #A34747;    
}

/* 4-3 Content Container */
.service__content {
    width: 100%;
    height: 109.69px;
    display: grid;
    grid-template-columns: 1fr auto;
}

/* 4-4 Image */
.service__image {
    width: 106.03px;
    height: 100%;

    border-radius: 6.09px 0px 0px 6.09px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 4-5 Description */
.service__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0px 6.09px 0px 6.09px;
    
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border-radius: 0px 6.09px 6.09px 0px;
}
.service__description {
    width: 100%;
    font-size: 10px;
    line-height: 14px;

    white-space: pre-line;
}
.service__note {
    display: flex;
    align-self: start;

    width: 100%;
    font-size: 8px;
    padding-right: 50px;
    line-height: 11.2px;
    
    white-space: normal
}

/* ------------------- *\
5. Media Queries;
\* ------------------- */
/* 5-1 w640 */
@media (min-width: 640px) {
    .service {
        height: 766px;
    }
    .service__layout {
        width: 534px;
        height: 712px;
    }
    .service__title {
        font-size: 26px;
        line-height: 60px;
        margin-bottom: 8px;
    }
    .service__cards {
        gap: 12px;

        height: 664px;
    }
    .service__card {
        height: 213px;
    }
    .service__subtitle {
        font-size: 20px;
        line-height: 29.6px;  
        margin-bottom: 4px; 
    }
    .service__content {
        height: 180px;
    }
    .service__image {
        width: 174px;
        border-radius: 10px 0px 0px 10px;
    }
    .service__text {
        padding: 0px 10px 0px 10px;
        border-radius: 0px 10px 10px 0px;
    }
    .service__description {
        font-size: 16px;
        line-height: 22.4px;
        padding-left: 8px;
    }
    .service__note {
        font-size: 14px;
        line-height: 22.4px;
        padding-left: 9px;
        padding-right: 30px;
    }
}

/* 5-2 w1440 */
@media (min-width: 1440px) {
    .service {
        height: 778px;
    }
    .service__layout {
        width: 1231.5px;
        height: 631.5px;
    }
    .service__title {
        font-size: 52px;
        line-height: 45px;
        margin: 58px 0px 58px 0px;
    }
    .service__cards {
        grid-template-rows: 0;
        grid-template-columns: 1fr 1fr 1fr;

        height: 100%;
    }
    .service__card {
        width: 375px;
        height: 528.75px;
        margin-bottom: 0px;
    }
    .service__card.service__card--mobile {
        display: none;
    }
    .service__card.service__card--desktop {
        display: block;
    }
    .service__content {
        height: 100%;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .service__subtitle {
        font-size: 38px;
        line-height: 45px;  
        padding-bottom: 10px;

        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
        color: var(--service-contain-color);
    }
    .service__image {
        display: flex;
        justify-content: center;
        align-items: end;

        width: 100%;
        height: 258.75;
        border-radius: 15px 15px 0px 0px;
    }
    .service__text {
        justify-content: start;
        padding: 29.25px 21px 0px 21px;
        border-radius: 0px 0px 15px 15px ;
    }
    .service__description {
        font-size: 20px;
        line-height: 32px;
        padding-left: 0px;
    }
    .service__note {
        font-size: 17px;
        line-height: 28px;
        padding: 20px 0px 20px 0px;
    }
}

/* 5-3 w1920 */
@media (min-width: 1920px) {
    .service {
        height: 1034px;
    }
    .service__layout {
        width: 1642px;
        height: 842px;
    }
    .service__title {
        font-size: 70px;
        line-height: 60px;
        margin: 80px 0px 80px 0px;
    }
    .service__card {
        width: 500px;
        height: 705px;
    }
    .service__subtitle {
        font-size: 50px;
        line-height: 60px;  
        padding-bottom: 20px;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        color: var(--service-contain-color);
    }
    .service__image {
        border-radius: 20px 20px 0px 0px;
    }
    .service__text {
        justify-content: start;
        padding: 40px 40px 0px 40px;
        border-radius: 0px 0px 20px 20px ;
    }
    .service__description {
        font-size: 28px;
        line-height: 40px;
    }
    .service__note {
        font-size: 27px;
        line-height: 40px;
        padding: 0px;
    }
}
