/* ------------------- *\
Content
\* ------------------- */
/*
1. Layout
2. Content (Mobile)
3. Image (Desktop)
4. Content (Desktop)
5. Media Queries
        5-1 w640
        5-2 w1440
        5-3 w1920
*/

/* ------------------- *\
1. Layout;
\* ------------------- */
.brand {
    width: 100%;
    font-weight: 400;
    background-color: #A34747;
}
.brand__layout.brand__layout--mobile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: 429px;
}
.brand__layout.brand__layout--desktop {
    display: none;
    height: 705px;
}

/* ------------------- *\
2. Content (Mobile);
\* ------------------- */
.brand__content.brand__content--mobile {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;

    width: 366px;
    padding: 22px 0px 22px 0px ;
}
.brand__copy.brand__copy--mobile {
    text-align: center;

    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 17px;

    color: var(--tertiary-color);
}
.brand__copy.brand__copy--mobile:last-child {
    margin-bottom: 0px;
}


/* ------------------- *\
3. Image (Desktop);
\* ------------------- */
.brand__images-wrapper {
    display: flex;
    gap: 29px;

    width: 736px;
    height: 705px;
}
.brand__image-left {
    width: 380px;
    height: 637px;

    background-image: var(--brand-image-1);
}
.brand__image-right {
    display: flex;
    align-self: end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    width: 327px;
    height: 620px;
}
.brand__image-right-top {
    display: flex;
    align-self: start;

    width: 223px;
    height: 248px;

    background-image: var(--brand-image-2);
}
.brand__image-right-bottom {
    width: 327px;
    height: 344px;

    background-image: var(--brand-image-3);
}
.brand__image-left, .brand__image-right > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

/* ------------------- *\
4. Content (Desktop);
\* ------------------- */
.brand__content.brand__content--desktop {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 56px;

    height: 100%;
    margin-left: 23px;

}
.brand__title {
    display: flex;
    align-self: start;

    margin-left: -100px;
    margin-bottom: 1rem;
    font-size: 210px;
    
    color: transparent;
    background-color: #6b2626;
    text-shadow: 0px 2px 2.5px var(--primary-color);
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-clip: text;
}
.brand__copy.brand__copy--desktop {
    display: flex;
    flex-direction: column;

    width: 562px;
    height: 303px;
}
.brand__copy-item {
    padding-bottom: 22px;
    font-size: 22px;

    color: var(--brand-copy-color);
    line-height: 32px;
    font-weight: 600;
}

/* ------------------- *\
5. Media Queries;
\* ------------------- */
/* 5-1 w640 */
@media (min-width: 640px) {

    .brand__layout.brand__layout--mobile {
        height: 698px;
    }
    .brand__content.brand__content--mobile {

        width: 600px;
        padding: 26px 10px 26px 10px ;
    }
    .brand__copy.brand__copy--mobile {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 56px;
    }
}

/* 5-2 w1440 */
@media (min-width: 1440px) {
    .brand {
        height: 951px;
        padding: 160px 63px 0px 63px;

        background-color: transparent;
        background-image: var(--brand-bg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .brand__layout.brand__layout--mobile {
        display: none;
    }
    .brand__layout.brand__layout--desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* 5-3 w1920 */
@media (min-width: 1920px) {
    .brand {
        height: 1267px;
        padding: 213px 83px 0px 83px;
    }
    .brand__layout.brand__layout--desktop {
        height: 940px;
    }
    .brand__images-wrapper {
        width: 981px;
        height: 940px;
        gap: 38px;
    }
    .brand__image-left {
        width: 507px;
        height: 850px;
    }
    .brand__image-right {
        width: 436px;
        height: 827px;
        gap: 38px;
    }

    .brand__image-right-top {
        width: 297px;
        height: 330px;
    }

    .brand__image-right-bottom {
        width: 436px;
        height: 459px;
    }
    .brand__content.brand__content--desktop {

        gap: 74px;
        margin-left: 23px;
    }

    .brand__title {
        font-size: 280px;
    }

    .brand__copy.brand__copy--desktop {
        width: 749px;
        height: 403px;
    }

    .brand__copy-item {
        line-height: 42px;
        padding-bottom: 22px;
        font-size: 30px;
    }
}