/* ------------------- *\
Content
\* ------------------- */
/*
1. Layout
2. Thank You
3. Socials
        3-1 Socials Layout
        3-2 Icon
4. Media Queries
        4-1 w640
        4-2 w1440
        4-3 w1920
*/

/* ------------------- *\
1. Layout;
\* ------------------- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 93.23px;
    
    background-image: var(--footer-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.5px;

    width: 170px;
    margin: 0 auto;
}

/* ------------------- *\
2. Thank You;
\* ------------------- */
.footer__thankyou {
    font-size: 24.38px;


    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ------------------- *\
3. Socials;
\* ------------------- */
/* 3-1 Socials Layout */
.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24.5px;
    height: 24.5px;

    border-radius: 50%;
    background-color: #fff;
}

/* Icons */
.footer__icon {
    transform: scale(0.6);
    transform-origin: center;
}
.footer__icon.footer__icon--line{
    transform: scale(0.75);
}

/* ------------------- *\
4. Media Queries
\* ------------------- */
/* 4-1 w640 */
@media (min-width: 640px) {
    .footer {
        height: 182px;
        padding: 25px 0 65px 0;
    }
    .footer__content {
        gap: 8px;

        width: 279px;
    }
    .footer__thankyou {
        font-size: 40px;
    }
    .footer__socials {
        gap: 29px;
    }
    .footer__social {
        width: 40px;
        height: 40px;
    }
}

/* 4-2 w1440 */
@media (min-width: 1440px) {
    .footer {
        height: 210px;
        padding: 0;
    }
    .footer__content {
        gap: 20px;

        width: 419px;
    }
    .footer__thankyou {
        font-size: 60px;
        text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
    }
    .footer__socials {
        gap: 35px;
    }
    .footer__social {
        width: 45px;
        height: 45px;
    }
    .footer__icon {
        transform: scale(0.55);
    }
    .footer__icon.footer__icon--line{
        transform: scale(0.7);
    }
}

/* 4-3 w1920 */
@media (min-width: 1920px) {
    .footer {
        height: 281px;
    }
    .footer__content {
        gap: 30px;

        width: 560px;
    }
    .footer__thankyou {
        font-size: 80px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
    }
    .footer__socials {
        gap: 40px;
    }
    .footer__social {
        width: 60px;
        height: 60px;
    }
}